.footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 2%;

}

.footer li{
    margin: 12%;
}

.footer a{
    color:aliceblue !important;
}

.footer p{
    margin: 25px;
}