.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    text-decoration: none;
}

.navbar .link,
.navbar .icones {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    margin: 10px;
    cursor: pointer;
}

.navbar a {
    color: aliceblue !important;
    text-decoration: none;
}

.navbar .link li a:hover {
    background-color: aliceblue;
    color: rgb(0, 0, 0) !important;
    padding: 20px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 18px;
    transition-duration: 0.5s;
}

/* Esconder lista de navegação por padrão em telas pequenas */
.navbar .link {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajuste conforme necessário para evitar sobreposição com a barra de navegação */
    left: 0;
    background-color: #333;
    width: 100%;
    z-index: 1;
}

@media (max-width: 680px) {
    .navbar .icones {
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar .link {
        display: grid;
        list-style: none;
        align-items: center;
        font-size: 2em;
        margin-left: 30%;
        position: static; /* Tornar a lista de navegação estática em telas pequenas */
    }

    .navbar .link li a:hover {
        background-color: aliceblue;
        color: black;
    }

    .navbar li {
        margin: 10px;
        cursor: pointer;
    }

    .navbar a {
        color: aliceblue !important;
    }
}

/* Adicionar um estilo para o ícone de hambúrguer em telas pequenas */
@media (max-width: 680px) {
    .navbar .hamburguer {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}
