.btn{
    background: transparent;
    color: #ffffff;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
}

.btn:hover{
    
    background-color: #010b28;
    /* transform: translateY(-7px); */
    transform: translate(100px, 200px);
    transition-duration: 0.5s;

}